<app-title title="Defer Views / Blocks" />
<section class="grid grid-cols-1">
    @defer (on interaction) {
        <app-heavy-loaders-slow cssClass="bg-blue-500" />
    } @placeholder {
        <p class="h-[180px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
            Loading one...
        </p>
    }
    @defer (on idle) {
        <app-heavy-loaders-slow cssClass="bg-green-500" />
    } @placeholder {
        <p class="h-[180px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
            Loading two...
        </p>
    }
    @defer (on viewport) {
        <app-heavy-loaders-slow cssClass="bg-purple-500" />
    } @placeholder {
        <p class="h-[180px] w-full bg-gradient-to-r from-gray-200 to-gray-400 animate-pulse">
            Loading three...
        </p>
    }
</section>