<app-title [title]="titleLabel()" />
 @if (userToSig()) {
    <section>
        <!-- <span>{{ userToSig() }}</span> -->
        <div class="flex grid-cols-2">
            <img [srcset]="userToSig()!.avatar" [alt]="userToSig()?.first_name" />
            <div class="mx-4">
                <h4>{{ userToSig()?.id }}</h4>
                <h3 class="text-2xl">{{ completeName() }}</h3>
                <h4>{{ userToSig()?.email }}</h4>
                <h4>{{ titleLabel() }}</h4>
            </div>
        </div>
    </section>
 } @else {
    <p>Cargando información de usuario...</p>
 }